div.wrap { width : 715px; margin :0 0 0 3px; text-align : left; }
div#top div#nav { float : left; clear : both; width : 715px; height : 52px; margin : 22px 0 0; }
div#top div#nav ul { float : left; width : 700px; height : 52px; list-style-type : none; }
div#nav ul li { float : left; height : 52px; }
div#nav ul li a { border : 0; height : 52px; display : block; line-height : 52px; text-indent : -9999px; }
div.wrap { height : 250px; background : url(images/header-bg.png) no-repeat 50% 0; }
div#slide-holder { z-index : 40; width :715px; height : 250px; position : absolute; }
div#slide-holder div#slide-runner {width :715px; height : 250px; overflow : hidden; position : absolute; }
div#slide-holder img { margin : 0; display : none; position : absolute; }
div#slide-holder div#slide-controls { left : 0; bottom : 0px; width :715px; height : 16px; display : none; position : absolute; background : url(images/slide-bg.png) 0 0; }
div#slide-holder div#slide-controls p.text { float : left; color : #fff; display : inline; font-size : 10px; line-height : 16px; margin : 15px 0 0 20px; text-transform : uppercase; }
div#slide-holder div#slide-controls p#slide-nav { float : left; display : inline;margin: 0 0 0 30px;padding:5px 0 0 30px; }
div#slide-holder div#slide-controls p#slide-nav a { float : left; width :16px; height : 10px; display : inline; font-size : 0px; margin : 0 5px 0 0; line-height : 24px; font-weight : bold; text-align : center; text-decoration : none; background-position : 0 0; background-repeat : no-repeat; }
div#slide-holder div#slide-controls p#slide-nav a.on { background : url(../images/slider_act_btn.png) no-repeat; }
div#slide-holder div#slide-controls p#slide-nav a { background : url(../images/slider_nor_btn.png) no-repeat; }
div#nav ul li a { background : url(images/nav.png) no-repeat; }
#slide-nav{background: url(../images/banner_but_bg.png) no-repeat; width:183px; height: 17px; float:left}
#slide-client,#slide-desc{display: none !important;}


/*detail_slide*/
#slide_container{	
		margin:0 auto;
		position:relative;
		text-align:left;
		/*width:696px;*/
		background:#fff;		
		margin-bottom:2em;
		z-index:20;
		}	
				
	#slide_content{
		position:relative;
		}			

/* Easy Slider */

	#slider{}	
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
                position: relative;
		}
	#slider li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:353px;
		height:297px;
		overflow:hidden; 
		clear:none;
                position: relative;
		}	

	
	p#controls, p#controls2{
		margin:0;
		position:relative;
		} 
	
	#prevBtn, #nextBtn, #prevBtn2, #nextBtn2{ 
		display:block;
		margin:0;
		overflow:hidden;
		text-indent:-8000px;		
		width:30px;
		height:77px;
		position:absolute;
		/*left:-30px;*/
		top:-175px;
		}	
	#nextBtn, #nextBtn2{ 
		left:325px;
		}														
	#prevBtn a, #nextBtn a, #prevBtn2 a, #nextBtn2 a{  
		display:block;
		width:30px;
		height:77px;
		background:url(../images/left_detail.png) no-repeat 0 0;	
		}	
	#nextBtn a, #nextBtn2 a{ 
		background:url(../images/right_detail.png) no-repeat 0 0;	
		}		